extends layout

block content
  h1 #GetSocial
  hr
  .row
    each val in data
      .col-xs-18.col-sm-6.col-md-3
        .thumbnail
          img(src=val.imgsrc, alt='')
          .caption
            h4 #{val.title}
            p
              i.fas.fa-info
              | #{val.topic}
            p
              i.fas.fa-map-marker-alt
              | #{val.distance}
            p
              i.fas.fa-clock
              | #{val.time}
            p
              a.btn.btn-info.btn-xs(href='#', role='button') Button
              a.btn.btn-default.btn-xs(href='#', role='button') Button
